.default-layout-container {
  padding: 10px 5%;
  h1 {
    color: #fc4400;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    span {
      color: #919191;
      font-size: 24px;
    }
  }
}
