.collection-layout-container {
  padding: 20px 5%;

  .collection-grid-container {
    padding: 24px 0;
  }
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
  }
}
